@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@layer base {
		:root {
			--scale-50: 180, 20%, 96.08%;
			--scale-100: 192, 12.2%, 91.96%;
			--scale-200: 183.75, 17.39%, 81.96%;
			--scale-300: 194.48, 16.76%, 66.08%;
			--scale-400: 203.08, 15.92%, 48.04%;
			--scale-500: 215.17, 16.2%, 35.1%;
			--scale-600: 223.33, 22.78%, 30.98%;
			--scale-700: 234.55, 23.08%, 28.04%;
			--scale-800: 242.31, 22.03%, 23.14%;
			--scale-900: 256.36, 21.57%, 20%;
			--scale-950: 265.71, 19.44%, 14.12%;

			--background: 0 0% 100%;
			--foreground: var(--scale-950);
			--card: 0, 0%, 98%;
			--card-foreground: var(--scale-950);
			--popover: 0 0% 100%;
			--popover-foreground: 240 10% 3.9%;
			--primary: var(--scale-500);
			--primary-foreground: var(--scale-50);
			--secondary: var(--scale-200);
			--secondary-foreground: var(--scale-950);
			--muted: 240 4.8% 95.9%;
			--muted-foreground: 240 3.8% 46.1%;
			--accent: var(--scale-200);
			--accent-foreground: 240 5.9% 10%;
			--destructive: 0 84.2% 60.2%;
			--destructive-foreground: 0 0% 98%;
			--border: var(--scale-100);
			--input: 240 5.9% 90%;
			--ring: var(--scale-600);
			--radius: 0.5rem;
			--chart-1: 12 76% 61%;
			--chart-2: 173 58% 39%;
			--chart-3: 197 37% 24%;
			--chart-4: 43 74% 66%;
			--chart-5: 27 87% 67%;
		}

		.dark {
			--background: 240, 10%, 6%;
			--foreground: var(--scale-50);
			--card: 240, 6%, 10%;
			--card-foreground: var(--scale-50);
			--popover: 0 0% 9%;
			--popover-foreground: 0 0% 95%;
			--primary: var(--scale-500);
			--primary-foreground: var(--scale-100);
			--secondary: var(--scale-950);
			--secondary-foreground: var(--scale-100);
			--muted-foreground: 240 5% 64.9%;
			--accent: var(--scale-600);
			--accent-foreground: 0 0% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 0 85.7% 97.3%;
			--border: 240, 4%, 16%;
			--input: 240 3.7% 15.9%;
			--ring: var(--scale-400);
			--chart-1: 220 70% 50%;
			--chart-2: 160 60% 45%;
			--chart-3: 30 80% 55%;
			--chart-4: 280 65% 60%;
			--chart-5: 340 75% 55%;
		}
	}
}
